{% extends 'global/base.html' %}

{% block content %}
    <div class="form-wrapper">
        <h2>Cadastro do jogador UOL</h2>
    </div>
    <form
            action="{{ form_action }}"
            method="POST">
        {% csrf_token %}
        <div class="form-content">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field_id_for_label }}"> {{ field.label }} </label>
                    {{ field }}
                    {{ form_action }}
                </div>
            {% endfor %}
        </div>
         <div class="form-content">
            <div class="form-group">
                <button class="btn" type="submit">Cadastrar</button>
                <button class="btn" type="submit">Listar jogadores</button>
            </div>
        </div>
    </form>
{% endblock content %}